Host backups-pc
	# Specifies the real host name to log into.
	# REF: https://man.openbsd.org/ssh_config#Hostname
	Hostname fm1395.rsync.net

	# Specifies the user to log in as.
	# REF: https://man.openbsd.org/ssh_config#User
	User fm1395

	# Specifies the port number to connect on the remote host.
	# REF: https://man.openbsd.org/ssh_config#Port
	Port 22

	# Specifies the order in which the client should try authentication methods.
	# REF: https://man.openbsd.org/ssh_config#PreferredAuthentications
	PreferredAuthentications publickey

	# Specifies a file from which the user's DSA, ECDSA, authenticator-hosted ECDSA, Ed25519, authenticator-hosted Ed25519 or RSA authentication identity is read.
	# REF: https://man.openbsd.org/ssh_config#IdentityFile
	IdentityFile /root/.ssh/id_ed25519

	# Specifies that ssh(1) should only use the configured authentication identity and certificate files (either the default files, or those explicitly configured in the ssh_config files or passed on the ssh(1) command-line), even if ssh-agent(1) or a PKCS11Provider or SecurityKeyProvider offers more identities.
	# REF: https://man.openbsd.org/ssh_config#IdentitiesOnly
	IdentitiesOnly yes

Host *
	# The number of seconds the client will wait before sending a null packet to the server (to keep the connection alive).
	# REF: https://man.openbsd.org/ssh_config#ServerAliveInterval
	ServerAliveInterval 59

	# The number of messages that can be sent without receiving a response before disconnecting.
	# REF: https://man.openbsd.org/ssh_config#ServerAliveCountMax
	ServerAliveCountMax 2
